.intro-bg-ilust {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.intro {
  padding-top: 90px;

  &-display {
    color: #fff;
    font-size: 100px;
    line-height: 100%;
  }
  &-cta {
    display: inline-flex;
    align-items: center;
    margin-top: 60px;
    padding: 15px 25px;

    border-radius: 5px;
    background-color: $c-1;
    border: 1px solid $c-1;
    color: #fff;
    &:hover {
      color: $c-1;
      background-color: $c-2;
    }

    i {
      font-size: 28px;
      margin-left: 24px;
    }
  }
  &-man-ilust {
    position: absolute;
    top: 254px;
    left: 0;
  }
  &-man-ilust {
    position: absolute;
    top: 254px;
    left: -285px;
  }
}
.intro-truck-ilust {
  margin-top: 173px;
  margin-left: -204px;
}
.about {
  padding-top: 180px;

  &-ilust {
    margin-top: -74px;
    margin-left: -30px;
  }
}
.section-header {
  color: $c-1;
  text-transform: uppercase;
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.1em;
}
.section-text {
  margin-top: 40px;
  margin-right: 66px;

  color: $c-3;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
}
.section-highlight {
  padding-top: 70px;
  padding: 30px 37px;

  color: $c-3;
  background-color: $c-4;
  border-left: 10px solid $c-5;
  border-radius: 5px 0 0 5px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.howto {
  padding-top: 260px;

  &-ilust {
    margin-left: -149px;
    margin-top: -116px;
  }
}
.faq {
  margin-top: 120px;
  padding-top: 160px;
  padding-bottom: 100px;

  &-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-text {
    margin-top: 44px;

    color: $c-3;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140%;
  }
  &-ilust {
    margin-left: -90px;
    margin-top: -60px;
  }
  &-bg {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    height: 1278px;
  }

  // accordions
  &-accordion-container {
    margin-top: 90px;
  }
  &-accordion {
    display: flex;
    flex-direction: column;

    background: $c-7;
    box-shadow: 0px 20px 40px $c-6;
    border-radius: 10px;

    & + & {
      margin-top: 10px;
    }

    button {
      height: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 35px;

      background-color: #fff;
      box-shadow: 0px 20px 40px $c-6;
      border-radius: 10px;

      border: 0;
      outline: 0;

      > span {
        color: $c-3;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        text-align: left;
      }
      > i {
        margin-left: 1rem;
        color: $c-1;
      }
      &.collapsed > i::before {
        content: "\f067";
      }
      > i::before {
        content: "\f068";
      }
    }
    &.load button {
      background-color: $c-8;
      box-shadow: none;
    }
    &.load span {
      flex-grow: 1;
      text-align: center;
      text-transform: uppercase;

      color: $c-5;
      font-family: "Rubik";
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.05em;
    }

    &-text {
      margin: 0;
      padding: 40px 35px 60px;

      color: $c-3;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
    }
  }
}
.testimonial {
  padding-top: 177px;
  .carousel {
    margin-top: 90px;
  }
  .carousel-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    height: 360px;
    padding: 60px 47px 40px;

    background-color: #fff;
    box-shadow: 0px 20px 40px $c-6;
    border-radius: 10px;

    p {
      margin: 0;
      color: $c-3;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 30px;
    }
    &-avatar {
      display: flex;
      align-items: center;
    }
    &-avatar img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 20px;
    }
    &-avatar span {
      color: $c-3;
      font-family: "Rubik";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;
    }

    // carousel fix
    margin: 0;
  }
  .owl-stage-outer {
    // padding: 40px 20px;
    // margin: -40px -20px;
    cursor: grab;
    width: 180%;
  }
  .owl-nav {
    position: absolute;
    top: -80px;
    right: 0;
  }
  .owl-nav span {
    display: none;
  }
  .owl-prev,
  .owl-next {
    width: 42px;
    height: 16px;
    background-image: url(../img/carousel-arrow.png) !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
  }
  .owl-prev {
    margin-right: 1rem;
    transform: rotateZ(180deg);
    background-position: bottom !important;
  }
}
