.intro-bg-ilust {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.intro {
  padding-top: 90px;

  &-display {
    color: #fff;
    font-size: 100px;
    line-height: 100%;
  }
  &-cta {
    display: inline-flex;
    align-items: center;
    margin-top: 60px;
    padding: 15px 25px;

    border-radius: 5px;
    background-color: $c-1;
    border: 1px solid $c-1;
    color: #fff;
    &:hover {
      color: $c-1;
      background-color: $c-2;
    }

    i {
      font-size: 28px;
      margin-left: 24px;
    }
  }
}
