.dm-serif-400 {
	font-family: "DM Serif Display";
	font-style: normal;
	font-weight: 400;
}
.rubik-300 {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 300;
}
.rubik-500 {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
}